body {
    background:url("img/bgrndCof.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

/*footer {*/
    /*background:url("img/beansFooter3.jpg");*/
    /*height: 100px;*/
    /*width:100%;*/
/*}*/

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#coffees h3,
#coffees p{
    display: inline;
}

.jumbotron {
    background:url("img/coffeeandcode.jpg");
    width:100%;
    height:380px;
    background-repeat: no-repeat;
    background-size:cover;

}

.whitebg {
    z-index: -1;
    background: white;
    opacity: 0.8;
    padding: 30px;
    margin-bottom: 30px;
}

.btn {
    background-color: #9f5410;
    border: none;
}